:root {
  --clr-primary-100: hsl(180, 62%, 55%);
  --clr-primary-200: hsl(0, 78%, 62%);
  --clr-primary-300: hsl(34, 97%, 64%);
  --clr-primary-400: hsl(212, 86%, 64%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 98%);
  --clr-neutral-400: hsl(229, 6%, 66%);
  --clr-neutral-900: hsl(234, 12%, 34%);

  --ff-regular: "Poppins", sans-serif;

  --fs-400: 0.9375rem;
  --fs-500: 1.25rem;
  --fs-600: 1.625rem;
  --fs-900: 2.5rem;

  --fw-light: 200;
  --fw-normal: 400;
  --fw-bold: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: var(--clr-neutral-200);
  color: var(--clr-neutral-400);
  font-family: var(--ff-regular);
  font-size: var(--fs-400);
  font-weight: var(--fw-normal);
  line-height: 1.5625;
}

header {
  max-width: 540px;
  text-align: center;
  margin-bottom: 5rem;
  margin-inline: auto;
}

h1,
h2 {
  color: var(--clr-neutral-900);
}

h1 {
  font-weight: var(--fw-light);
  font-size: 1.5rem;
  letter-spacing: 0.27px;
  line-height: 1.42;
  margin-bottom: 1rem;
}

h1 span {
  display: block;
  font-weight: var(--fw-bold);
}

.grid-flow {
  --gap: 1.5rem;

  display: grid;
  grid-auto-columns: 1fr;
  gap: var(--gap);
}

.wrapper {
  width: min(83%, 1110px);
  margin: auto;
  padding-block: 5rem;
}

.card {
  --br: 0.25rem;

  background-color: var(--clr-neutral-100);
  border-top: var(--br) solid;
  border-radius: var(--br);
  box-shadow: 0 1rem 1.5rem -0.5rem rgb(0 50 100 / 0.15);
  padding: 1.5rem 1.7rem 1.7rem 1.7rem;
}

.border-cyan {
  border-color: var(--clr-primary-100);
}

.border-red {
  border-color: var(--clr-primary-200);
}

.border-orange {
  border-color: var(--clr-primary-300);
}

.border-blue {
  border-color: var(--clr-primary-400);
}

.card__title {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 0.2rem;
}

.card p {
  font-size: 0.8125rem;
  line-height: 1.438rem;
}

.card__img {
  display: block;
  max-width: 57px;
  margin-left: auto;
  margin-top: 1.863rem;
}

@media (min-width: 800px) {
  body {
    font-size: 1rem;
  }

  header {
    margin-bottom: 4rem;
  }

  h1 {
    font-size: 2.245rem;
    margin-bottom: 1.05rem;
  }

  .grid-flow {
    --gap: 1.875rem;

    grid-template-areas:
      "... two ..."
      "one two four"
      "one three four"
      "... three ...";
  }

  .grid-flow > :nth-child(1) {
    grid-area: one;
  }

  .grid-flow > :nth-child(2) {
    grid-area: two;
  }

  .grid-flow > :nth-child(3) {
    grid-area: three;
  }

  .grid-flow > :nth-child(4) {
    grid-area: four;
  }

  .card {
    padding: 1.7rem 2rem 2rem 2rem;
  }

  .card__title {
    margin-bottom: 0.5rem;
  }

  .card__img {
    max-width: 64px;
    margin-top: 2.4rem;
  }
}
